<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="ie ie9"> <!--<![endif]-->
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    
    <!-- Mobile Specific Metas
    +++++++++++++++++++++++++++ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" href="/media/site/img/favicon.ico">
    <title>{% block title %}AlaskaHackathon Spring 2013{% endblock %}</title>
    
    <!-- Styles
    +++++++++++++ -->	
    <link rel="stylesheet" type="text/css" href="/media/site/css/style.css">
	<link rel="stylesheet" type="text/css" href="/media/site/css/colors.css">        
    <link rel="stylesheet" type="text/css" href="/media/site/css/base.css">
    <!-- Fonts&Plugins -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/media/site/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/media/site/css/prettyPhoto.css" />
    <link rel="stylesheet" type="text/css" href="/media/site/css/tipsy.css" />
    <link rel="stylesheet" type="text/css" href="/media/site/css/portfolio_isotope.css" />
    <link rel="stylesheet" type="text/css" href="/media/site/css/nivo-slider.css">
    <link rel="stylesheet" type="text/css" href="/media/site/css/jquery.onebyone.css">
	<link rel="stylesheet" type="text/css" href="/media/site/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/media/site/css/base_responsive.css">

    <!-- Scripts
    +++++++++++++ -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.2/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript" src="/media/site/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/media/site/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/media/site/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/media/site/js/hoverIntent.js"></script>
    <script type="text/javascript" src="/media/site/js/superfish.js"></script>
    <script type="text/javascript" src="/media/site/js/jquery.form.js"></script>
    <script type="text/javascript" src="/media/site/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/media/site/js/sorting.js"></script>
    <script type='text/javascript' src='/media/site/js/jquery.nivo.slider.js'></script>
    <script type="text/javascript" src="/media/site/js/jflickrfeed.js"></script>
    <script type="text/javascript" src="/media/site/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="/media/site/js/fakeElement.js"></script>
    <script type="text/javascript" src="/media/site/js/jquery.carousel.min.js" ></script>
    <script type="text/javascript" src="/media/site/js/jquery.touchwipe.min.js" ></script> 
    <script type="text/javascript" src="/media/site/js/jquery.onebyone.min.js" ></script> 
    <!-- Main Scrip Run -->
    <script type="text/javascript" src="/media/site/js/script.js"></script>
</head>

<body>
	<!-- H E A D E R -->
	<header>
    	<div class="head_line">
        	<div class="headline_content">
	        	<div class="top_slogan">Turning one and zeros into real world solutions for Alaska's non-profits</div>
                <ul class="headline_socials main_socials">
                    <li><a href="#" class="ico_social-facebook" title="Facebook"></a></li>
                    <li><a href="#" class="ico_social-twitter" title="Twitter"></a></li>
                </ul>
            </div>
      </div>
        <div class="header_wrapper">
            <a href="/" class="logo"><img src="/media/site/img/logo.png" alt=""  width="225" height="40" class="logo_def"><img src="/media/site/img/retina/logo.png" alt="" width="225" height="40" class="logo_retina"></a>
            <nav>
                <ul class="menu">
                    <li class="current-menu-parent"><a href="/">Home</a></li>
                    <li><a href="#who">Who</a>
                        <ul class="sub-menu">
                            <li><a href="#nonprofits">Non-Profit Organizations</a></li>
                            <li><a href="#developers">Developers</a></li>
                            <li><a href="#organizers">Hackathon Organizers</a></li>
                        </ul>
                    </li>
                    <li><a href="#what">What</a>
                        <ul class="sub-menu">
                            <li><a href="#projects">Projects</a></li>
                            <li><a href="#prizes">Prizes</a></li>
                        </ul>
                    </li>                
                    <li><a href="#when">When</a>
                        <ul class="sub-menu">
                            <li><a href="#">March 29th</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Non-Profit Applications Due</a></li>
                                </ul>
                            </li>
                            <li><a href="#">April 12</a>
                                <ul class="sub-menu">
                                    <li><a href="#"><b>5:30pm - 9:30pm</b></a></li>
                                    <li><a href="#">Non-Profit Data Presentations</a></li>
                                    <li><a href="#">Team Building</a></li>
                                </ul>
                            </li>
                            <li><a href="#">April 20</a>
                                <ul class="sub-menu">
                                    <li><a href="#"><b>Doors open 8:00am</b></a></li>
                                    <li><a href="#">Hackathon!</a></li>
                                </ul>
                            </li>
                            <li><a href="#">April 21</a>
                                <ul class="sub-menu">
                                    <li><a href="#"><b>Doors open 8:00am</b></a></li>
                                    <li><a href="#">Hackathon!</a></li>
                                    <li><a href="#">Team Presentations</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#why">Why</a></li>                
                    <li><a href="#where">Where</a></li>                
                    <li><a href="#how">How</a></li>                
                </ul><!-- .menu -->
            </nav>
            <nav class="mobile_header">
                <select id="mobile_select"></select>
            </nav>
        </div>
      <div class="clear"></div>
	</header>
    <!-- C O N T E N T -->
    <div class="content_wrapper">

        {% block breadcrumbs %}
        {% endblock %}

    	<div class="content_block no-sidebar">
            <div class="fl-container">
                <div class="posts-block">
                    <div class="contentarea">
                        {% block main %}
                        <div class="row">
                        </div><!-- .row -->
                        {% endblock %}
                	</div>
                </div>
                <div class="left-sidebar-block">
                    <!-- Left Sidebar Text -->
                </div><!-- .left-sidebar -->
                <div class="clear"><!-- ClearFix --></div>
            </div><!-- .fl-container -->
            <div class="right-sidebar-block">
                <aside class="sidebar">
					//Sidebar Text
                </aside>
            </div><!-- .right-sidebar -->
            <div class="clear"><!-- ClearFix --></div>
        </div>
    </div>
    <div class="pre_footer">
    	<aside id="footer_bar">
        	<div class="row">
            	<div class="span1-4">
                    <div class="sidepanel widget_about">
	                	<h4>About Us</h4>
                        <p>Anchorage Hackathon is a sponsor run event to focus south central area developers on a few monumental tasks for one epic weekend!</p>
                        <span class="signature">Shane R. Spencer, Brute Technologies</span>
                    </div>
                </div>
                <div class="span1-4">
                    <div class="sidepanel widget_twitter">
                       	<h4>Latest Tweets</h4>
                        <ul class="twitter_list tweet_1057"></ul>
                        <!-- <script>
                            $(document).ready(function(){
                                $('.tweet_1057').tweet({
                                  avatar_size: 0,
                                  count: 2,
                                  username: "#akhack",
                                  template: "{text}"
                                });
                            });										
                        </script> -->
                    </div><!-- .widget_twitter -->
                </div>
                <div class="span1-4">
                    <div class="sidepanel widget_recent_entries">
                        <h4 class="sidebar_header">Flickr Photostream</h4>
                        <div class="widget_flickr">
                            <!-- <script src="http://www.flickr.com/badge_code_v2.gne?count=8&display=latest&size=s&layout=x&source=user&user=29789996@N000"></script> -->
                        </div>
                    </div><!-- .widget_recent_entries -->
                </div>
                <div class="span1-4">                	
                	<div class="sidepanel widget_nav_menu">
                    	<h4>Highlights</h4>
                        <div class="menu-menu-container">
                        	<ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <footer>
    	<div class="footer_wrapper">
            <a href="/" class="logo"><img src="/media/site/img/logo_footer.png" alt="" class="logo2_def" width="225" height="40"><img src="/media/site/img/retina/logo_footer.png" alt="" class="logo2_retina" width="225" height="40"></a>
            <div class="copyright">&copy; 2013 Shane R. Spencer. All Rights Reserved.</div>
            <nav>
                <ul class="menu">
                    <li class="current-menu-item"><a href="/">Home</a></li>
                    <li><a href="#who">Who</a></li>
                    <li><a href="#what">What</a></li>
                    <li><a href="#when">When</a></li>
                    <li><a href="#why">Why</a></li>                
                    <li><a href="#where">Where</a></li>
                    <li><a href="#how">How</a></li>
                </ul><!-- .menu -->
            </nav>        
        </div>
	</footer>
   	<img src="/media/site/img/my_preloader1.gif" id="preloader">
{% block forkme %}
{% endblock %}
</body>
</html>
